# SDZNKJLTD USB Reader (ffff:0035)
# Kräver: usbcore.authorized_default=0 i cmdline
#
# Läsaren startar unauthorized. prepare-script sätter driver_override
# på alla iface och authorized=1. Övriga USB-enheter godkänns direkt.

ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{idVendor}=="ffff", ATTR{idProduct}=="0035", \
  MODE="0660", GROUP="plugdev", TAG+="uaccess", \
  RUN+="/usr/local/lib/vkc-kiosk/prepare-sdznkj-reader.sh $devpath", \
  GOTO="vkc_usb_reader_end"

ACTION=="add", SUBSYSTEM=="usb", ENV{DEVTYPE}=="usb_device", ATTR{authorized}="1"

LABEL="vkc_usb_reader_end"
